<div class="container-fluid login-form">
  <div class="row">
    <div class="colm-form col-12">
      <form class="form-container">
        <h6>Please enter your Email Id below</h6>
        <input
          type="text"
          name="email"
          [(ngModel)]="email"
          placeholder="Email address or phone number"
        />
        <button class="btn-login" (click)="sendPwdResetMail()">
          Send Password Reset Email
        </button>
        <a [routerLink]="['/']">Back to login</a>
      </form>
    </div>
  </div>
</div>
