<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <p-table [value]="allCourses" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h4>Your Courses
                        <p-button icon="pi pi-plus-circle" class="add-course" [routerLink]="['/course']">Add New Courses</p-button>
                    </h4>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Course Name</th>
                    <th>Subjects</th>
                    <th>Level</th>
                    <th>Price</th>
                    <th>Timeline</th>
                    <th>Status</th>
                    <th>Ratings</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
                <tr>
                    <td>
                        <a href="javascript:void(0)" [routerLink]="['/course-detail', course.docId]">{{course.courseName}}
                            <i class="pi pi-pen-to-square" (click)="editCourse($event, course.docId)" style="padding-left: 8px;"></i>
                        </a>
                    </td>
                    <!-- <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + course.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                    <!-- <td>{{course.courseDesc}}</td> -->
                    <td>{{course.courseSub.toString()}}</td>
                    <td>{{course.courseLevel | titlecase}}</td>
                    <td>Rs. {{course.coursePrice}}</td>
                    <td>
                        {{course.scheduledDates[0] | date: 'dd/MM/yyyy'}} - {{course.scheduledDates[1] | date: 'dd/MM/yyyy'}}
                    </td>
                    <td><p-tag [value]="getCourseStatus(course.scheduledDates)" [severity]="getSeverity(course.scheduledDates)"></p-tag></td>
                    <!-- <td><p-tag [value]="getCourseStatus(course.scheduledDates)" [severity]="getSeverity(course.scheduledDates)"></p-tag></td> -->
                    <td><p-rating [ngModel]="course.rating || 0" [readonly]="true" [cancel]="false"></p-rating>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="6">You do not have any active courses. Please create a course by clicking on the "Add Course" button.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{allCourses ? allCourses.length : 0 }} courses.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>