:host ::ng-deep {
    .img-gradient {
        background-size: cover;
        width: 100%;
        position: relative;
        display:inline-block;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

        img{
            position:relative;
            z-index:-1;
            display:block;
            width: 100%;
            height: 80vh;
        }
    }

    .surface-border {
        padding: 0 !important;
        margin: 0 !important;
    }

    .p-dialog {
        margin: 0;

        .student-prof-pic {
            border-radius: 50%;
            border: 1px solid #184e8e;
            margin-right: 8px;
        }
        .conf-student-prof-pic {
            border-radius: 50%;
            border: 1px solid #184e8e;
            margin-right: 8px;
            float: left;
            height: 80px;
            width: 80px;
        
        }
        .btn-container {
            margin-left: auto;
            position: relative;
            // top: 8px;

            .btn {
                height: 32px;
                margin-left: 8px;
                font-size: 14px;
                width: 60px;
                padding: 0;
            }
        }

        
        .field-checkbox {
            align-items: center
        }

    }
}

// .course-carousel {
//     position: absolute;
// }

.course-detail {
    z-index: 23;
    position: absolute;
    color: #FFF;
    // display: flex;
    // justify-content: center;
    text-align: center;
    top: 200px;
    width: 100%;
}

.card {
    box-shadow: 2px 2px 4px 3px #dadada;
    background: #e6f9fd;
}

.comment-thread {
    margin-top: 5em;
    padding: 8px;
    box-shadow: 2px 2px 3px 2px #ddd;
}

.user-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #0058d9;
}

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 60px;
}
.replies {
    margin-left: 28px;
}

/* Adjustments for toggleable comments */

details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}
details.comment summary::-webkit-details-marker {
    display: none;
}
details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}
details.comment[open] .comment-heading::after {
    content: "Click to hide";
}
details.comment:not([open]) .comment-heading::after {
    content: "Click to show";
}

/* Adjustment for Internet Explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Resets cursor, and removes prompt text on Internet Explorer */
    .comment-heading {
        cursor: default;
    }
    details.comment[open] .comment-heading::after,
    details.comment:not([open]) .comment-heading::after {
        content: " ";
    }
}

.rating-count {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    position: relative;
    bottom: 4px;
}