<app-header></app-header>
<div class="container-fluid" *ngIf="courseDetails">
    <div class="row no-gutters p-0">
        <div class="col-12 p-0">
            <div class="course-carousel">
                <p-carousel *ngIf="courseDetails"
                    [value]="courseDetails.images"
                    [numVisible]="1"
                    [numScroll]="1"
                    [circular]="true"
                    [autoplayInterval]="3000"
                    [showNavigators]="false"
                >
                    <ng-template let-image pTemplate="item">
                        <div
                            class="border-1 surface-border border-round m-2 text-center py-5 px-3"
                        >
                            <div class="mb-3 img-gradient">
                                <img
                                    [src]="image"
                                    class="w-6 shadow-2"
                                />
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="course-detail">
                <h1>{{courseDetails.courseName}}</h1>
                <h4>{{courseDetails.courseDesc}}</h4>
                <h5>Starting on {{courseDetails.scheduledDates[0] | date: 'dd/MM/yyyy'}}</h5>
                <p class="info">
                    <p-rating style="margin-left: 1em;" [(ngModel)]="courseDetails.ratingsAvg" [readonly]="true" [cancel]="false"></p-rating>
                    <span class="rating-count">({{courseDetails.ratings?.length || 0}})</span>
                </p>
                <button class="btn btn-primary"  (click)="showBookingRequestsDialog()" *ngIf="loggedInUser.email === authorDetails?.email">
                    <i class="pi pi-address-book" style="font-size: 1rem;padding-right: 6px;"></i>
                    Booking Requests
                </button>
                <button class="btn btn-primary ms-3"  (click)="showConfirmedStudentsDialog()" *ngIf="loggedInUser.email === authorDetails?.email">
                    <i class="pi pi-verified" style="font-size: 1rem;padding-right: 6px;"></i>
                    Confirmed Students
                </button>
                <p class="mt-3">
                    <button class="btn btn-primary ms-3" (click)="openChatroom()">
                        <i class="pi pi-comments" style="font-size: 1rem;padding-right: 6px;"></i>
                        <span>Join Chatroom</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Booking Requsets" [(visible)]="showBookingRequestsDialogVisible" [position]="'topright'" [style]="{ width: '30vw', height: '100vw' }">
    <div class="card flex justify-content-center p-3">
        <div class="flex flex-column gap-2">
            <div *ngFor="let student of courseDetails?.bookedStudents?.booked" class="field-checkbox d-flex mb-3">
                <img height="50px" width="50px" class="student-prof-pic" [src]="student.profileImage" alt="Student's pic" />
                <h6>{{student.name}}</h6>
                <div class="btn-container">
                    <button class="btn btn-primary" (click)="acceptBookingRequest(student)">Accept</button>
                    <button class="btn btn-danger" (click)="rejectBookingRequest(student)">Reject</button>
                </div>
            </div>
            <div *ngIf="!courseDetails?.bookedStudents?.booked || courseDetails?.bookedStudents?.booked?.length === 0">
                <h6>There is no new booking requset for this course.</h6>
            </div>
        </div>
    </div>
    
</p-dialog>

<p-dialog header="Confirmed Students" [(visible)]="showConfirmedStudentsDialogVisible" [position]="'topright'" [style]="{ width: '30vw', height: '100vw' }">
    <div class="card flex justify-content-center p-3 mb-3" *ngFor="let student of courseDetails?.bookedStudents?.confirmed">
        <div class="flex flex-column gap-2">
            <div class="field-checkbox pull-left">
                <img class="conf-student-prof-pic" [src]="student.profileImage" alt="Student's pic" />
                <div class="student-details">
                    <h6>Name: {{student.name}}</h6>
                    <p class="m-0">Email: {{student.email}}</p>
                    <p class="m-0">Contact No: {{student.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!courseDetails?.bookedStudents?.confirmed || courseDetails?.bookedStudents?.confirmed?.length === 0">
        <div class="card flex justify-content-center p-3 mb-3">
            <h6>There is no new confirmed student for this course.</h6>
        </div>
    </div>
</p-dialog>
<div class="container" *ngIf="courseDetails">
    <div class="row">
        <div class="col-12 col-lg-6">
            <!-- <div class="card p-4"> -->
                <h3 class="mb-3"><u>Course Summary</u></h3>
                <div [innerHTML]="courseDetails.courseSummary"></div>
            <!-- </div> -->
        </div>
        <div class="col-12 col-lg-6">
            <div class="card p-4 about-tutor" *ngIf="authorDetails">
                <h5 class="mb-0">
                    <u>About Tutor</u>
                    <img [src]="authorDetails.profileImage" alt="Profile image" style="float: right;" width="80" height="80" />
                </h5>
                <table class="about-tutor-table">
                    <th></th>
                    <tr>
                        <td>Name</td>
                        <td>{{authorDetails.name}} {{authorDetails.lastname}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{authorDetails.email}}</td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td>{{authorDetails.phone}}</td>
                    </tr>
                    <tr>
                        <td>Highest Degree</td>
                        <td>{{authorDetails.degree}}</td>
                    </tr>
                    <tr>
                        <td>Skills</td>
                        <td> {{authorDetails.subjects?.toString()}}</td>
                    </tr>
                </table>
            </div>
            <div class="card p-4 about-tutor mt-5">
                <h5>
                    <u>Couse Details</u>
                </h5>
                <table class="about-tutor-table">
                    <th></th>
                    <tr>
                        <td>Course Name</td>
                        <td>{{courseDetails.courseName}}</td>
                    </tr>
                    <tr>
                        <td>Course Subjects</td>
                        <td>{{courseDetails.courseSub?.toString()}}</td>
                    </tr>
                    <tr>
                        <td>Contact Type</td>
                        <td>{{courseDetails.courseType | titlecase}}</td>
                    </tr>
                    <tr>
                        <td>Scheduled Dates</td>
                        <td>{{courseDetails.scheduledDates[0] | date: 'dd/MM/yyyy'}} - {{courseDetails.scheduledDates[1] | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>Scheduled Time</td>
                        <td>{{courseDetails.scheduledTime | date: 'h:mm a'}}</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>{{courseDetails.duration}} hours</td>
                    </tr>
                    <tr>
                        <td>Course Price</td>
                        <td>₹ {{courseDetails.coursePrice}}</td>
                    </tr>
                    <tr>
                        <td>Course Level</td>
                        <td>{{courseDetails.courseLevel | titlecase}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-12 pt-5 mt-5">
            
        </div>

        <div class="col-12 col-lg-6 pt-5 mt-5">
            <!-- <button (click)="showDialog()" class="btn btn-primary">Rate this course</button> -->
            <h3 class="mb-4"><u>Ratings & Reviews</u></h3>

            <!-- <h6>Your Ratings</h6> -->
            <ng-container *ngIf="this.courseDetails?.ratings[0]?.email !== loggedInUser.email && this.courseDetails?.mentor !== loggedInUser.email">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"></p-rating>
                <textarea class="form-control mt-2" [(ngModel)]="reviewComment"></textarea>
                <button class="btn btn-primary mt-3" style="float: right;" (click)="submitRating()">Submit</button>
            </ng-container>
            <div class="comment-thread mb-5">
                <!-- Comment 1 start -->
                <details open class="comment" id="comment-1" *ngFor="let rating of courseDetails?.ratings; let i = index">
                    <summary>
                        <div class="comment-heading">
                            <div class="comment-voting">
                                <img class="user-photo" [src]="rating.userPhoto" alt="User photo" />
                            </div>
                            <div class="comment-info">
                                <a href="javascript:void(0)" class="comment-author">
                                    <span *ngIf="loggedInUser.email === rating.email">You</span>
                                    <span *ngIf="loggedInUser.email !== rating.email">{{rating.fullName}}</span>
                                    <p-rating style="margin-left: 1em;" [(ngModel)]="rating.rating" [readonly]="true" [cancel]="false"></p-rating>
                                </a>
                            </div>
                        </div>
                    </summary>
            
                    <div class="comment-body">
                        <p>
                            {{rating.comment}}
                        </p>
                    </div>
                </details>
                <h6 class="" *ngIf="courseDetails?.ratings === undefined || courseDetails?.ratings?.length === 0">
                    No reviews yet for this course!
                </h6>
            </div>
        </div>

        <div class="col-12 col-lg-6 pt-5 mt-5">
            <h3><u>Comments</u></h3>
            <app-comment-box [courseId]="courseId"></app-comment-box>
        </div>
    </div>
</div>

<app-chat-window *ngIf="courseDetails && authorDetails"
 [isChatWindowClosed]="isChatWindowClosed" 
 [courseId]="courseId" 
 [courseName]="courseDetails.courseName"
 [mentorEmail]="authorDetails.email">
</app-chat-window>